<!-- sendemail Form-->

<div class=" col-md-8 col-md-offset-2">
      <div id="emailModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
      <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
          <h1 class="text-center">WinPerson</h1>
      </div>
      <div class="modal-body">
          <form class="" ng-submit="sendEmailto()">
            <div class="form-group">
              <input type="text" class="form-control input-lg" ng-model="emailForm.email" placeholder="Email">
            </div>
            <div class="form-group">
              <button class="btn btn-primary btn-lg btn-block">Send</button>
            </div>
          </form> 
          </div>
        </div>
       </div>
     </div>
   </div>
